<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spring.entity.Comment">
        <id column="commentid" property="commentid" />
        <result column="userid" property="userid" />
        <result column="itemid" property="itemid" />
        <result column="itemname" property="itemname" />
        <result column="rating" property="rating" />
        <result column="commentcontent" property="commentcontent" />
        <result column="commenttime" property="commenttime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        commentid, userid, itemid, itemname, rating, commentcontent, commenttime
    </sql>

</mapper>
