<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spring.entity.Orders">
        <id column="id" property="id" />
        <result column="ordertime" property="ordertime" />
        <result column="orderusername" property="orderusername" />
        <result column="orderuserid" property="orderuserid" />
        <result column="orderitemname" property="orderitemname" />
        <result column="orderitemid" property="orderitemid" />
        <result column="num" property="num" />
        <result column="pretime" property="pretime" />
        <result column="price" property="price" />
        <result column="status" property="status" />
        <result column="hasComm" property="hascomm" />
        <result column="picture" property="picture" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ordertime, orderusername, orderuserid, orderitemname, orderitemid, pretime, price, status, hascomm, picture
    </sql>

</mapper>
